.calendar-card {  
  width: 316px;
  height: 366px;
  border: 1px solid;
}

.calendar-bar {  
  display: flex;  
  justify-content: space-between;
  align-items: center;  
  padding: 20px;  
  padding-bottom: 15px;
  border-bottom: 19px;
}

.calendar-bar > .current-month, 
.calendar-bar > .current-year
{
  font-size: 20px;  
  font-weight: bold;  
  color: #000;
  padding:5px;  
  border-radius:10px;
}

.current-month > span:first-child {
  margin-right: 8px;
}

.current-month:hover,
.current-year:hover {
  background-color: #ddd;
}

.calendar-bar > [class$="soft-btn"] {
  width: 40px;  
  text-align: center;
  line-height: 40px; 
  font-size: 14px;  
  color: #000;
  background: #fff;  
  border: none;  
}

.weekdays-name,
.calendar-days {  
  display: flex;  
  flex-wrap: wrap;  
  padding-inline:18px;
}

.calendar-days {  
  padding-bottom: 12px;
}

.current-day {
  color: #db3d44 !important;
}

.selected-day {
  background-color: #db3d44;  
  color: #fff !important;
  border-radius: 50%;  
  transition: 0.5s;  
}


.days-name {  
  width: 40px;  
  height: 40px;  
  color: #000;  
  text-align: center;
  line-height: 40px;  
  font-weight: 500;  
  font-size: 1rem;
  cursor: pointer;
}

.empty-days {
  color: #eee !important;
  user-select: none;
  cursor: auto;
}


.calendar-months {
  display: flex;  
  flex-wrap: wrap;  
  padding-inline:18px;
  padding: 0 36px;
}

.months-name {  
  width: 60px;  
  height: 80px;  
  color: #000;  
  text-align: center;
  line-height: 80px;  
  font-weight: 500;  
  font-size: 1.2rem;
  cursor: pointer;
}

.calendar-bar > [class$="soft-btn"]:hover,.month-day:hover,
.calendar-bar > [class$="soft-btn"]:focus,.month-day:focus,
.btn:focus {   
  background-color: #ddd;  
  color: #000;
  border-radius: 50%;
}
